@import "tailwindcss";

:root {
  --max-width: 1400px;
  --gray-bg: rgba(0, 0, 0, 0.5);
}

@theme {
  --color-primary: #070707;  /* Dark background */
  --color-secondary: #21190e; /* Wood brown */
  --color-accent: #A67B5B;    /* Oak brown */
  --color-highlight: #FFD180; /* Soft amber */
  --color-text: #E0E0E0;      /* Off-white text */

  --font-head-1: "Noto Serif Display", serif;
  --font-poppins:  "Poppins", sans-serif;
  --font-cormorant: "Cormorant", serif;

}

@font-face {
  font-family: 'Noto Serif Display';
  src: url('/fonts/NotoSerifDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif Display';
  src: url('/fonts/NotoSerifDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Serif Display';
  src: url('/fonts/NotoSerifDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Serif Display';
  src: url('/fonts/NotoSerifDisplay-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('/fonts/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a:hover {
  cursor: pointer;
}

@layer base {
  :root {
    --hero-bg: url('/src/assets/heroimage.webp');
    --about-image: url('/src/assets/about.webp');
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@layer utilities {
  .animate-fade-in {
    animation: fade-in 1.5s ease-out forwards;
  }
  
}